body {
    background: rgb(17, 17, 17);
}
h1 {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.Wrappers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusts the size of each image based on available space */
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.image-container {
    margin: 0px;
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
    border-radius: 15px;
    transition: transform 0.2s;
    transition: .5s;
}
img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 40px #ffffff;
    border: 0px solid #ffffff;
}
